{% extends "base.html" %}
{% block content %}
<div id="fullpage">
  <div class="section">
    <div class="d-flex justify-content-around">
      <div>
        <h1>Welcome to ViSudoku</h1>
        Choose an image to get started!
      </div>
      <form action="/solve" method="POST" enctype="multipart/form-data">
        <label for="image"><h3>Select image:</h3></label><br>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg" required><br><br><br>
        <button class="btn btn-primary" type="submit">Done</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

